// ==========================================================================
// Margin Utility
// ==========================================================================

.u-mt-xs { margin-top: $spacing-xs; }
.u-mt-sm { margin-top: $spacing-sm; }
.u-mt-md { margin-top: $spacing-md; }
.u-mt-lg { margin-top: $spacing-lg; }
.u-mt-xl { margin-top: $spacing-xl; }
.u-mt-2xl { margin-top: $spacing-2xl; }

.u-mb-xs { margin-bottom: $spacing-xs; }
.u-mb-sm { margin-bottom: $spacing-sm; }
.u-mb-md { margin-bottom: $spacing-md; }
.u-mb-lg { margin-bottom: $spacing-lg; }
.u-mb-xl { margin-bottom: $spacing-xl; }
.u-mb-2xl { margin-bottom: $spacing-2xl; }