// ==========================================================================
// Padding Utility
// ==========================================================================

.u-pt-xs { padding-top: $spacing-xs; }
.u-pt-sm { padding-top: $spacing-sm; }
.u-pt-md { padding-top: $spacing-md; }
.u-pt-lg { padding-top: $spacing-lg; }
.u-pt-xl { padding-top: $spacing-xl; }
.u-pt-2xl { padding-top: $spacing-2xl; }

.u-pb-xs { padding-bottom: $spacing-xs; }
.u-pb-sm { padding-bottom: $spacing-sm; }
.u-pb-md { padding-bottom: $spacing-md; }
.u-pb-lg { padding-bottom: $spacing-lg; }
.u-pb-xl { padding-bottom: $spacing-xl; }
.u-pb-2xl { padding-bottom: $spacing-2xl; }