// ==========================================================================
// Text Utility
// ==========================================================================

.u-text-center { text-align: center; }
.u-text-left { text-align: left; }
.u-text-right { text-align: right; }

.u-font-accent { font-family: $font-family-accent; }

.u-color-primary { color: $primary-orange; }
.u-color-blue { color: $primary-blue; }
.u-color-green { color: $primary-green; }
.u-color-yellow { color: $primary-yellow; }